$color-white: #ffffff;
$color-black: #000000;
$color-black-transparent: #00000070;
$color-white-transparent: #ffffffee;
$color-lightest-blue: #d1eeff;
$color-light-blue: #b0e1ff;
$color-light-grey: #ececec;
$color-medium-grey: #c5c5c5;
$color-medium-grey-hover: #a5a5a5;
$color-dark-grey: #706e6e;
$color-font-dark: #2c3e50;
$color-font-light: #f3f3f3;
$color-font-active: #57a1a7;
$color-font-active-hover: #478288;
$color-back-blue: #57a1a7ee;
